<!DOCTYPE html>
<html lang="en">
<head>
    <title>HangryBites &mdash; Bite into Happiness with HangryBites!</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="./images/favicon/favicon.ico" type="image/x-icon">
</head>
<body id="home">
    <a href="#main-content" class="skip-to-content">Skip to Content</a>
    <!-- app Bar -->
    <header class="header">
        <a href="/">
            <h1 class="nav_logo">HangryBites</h1>
        </a>
        <button class="menu" id="menu" aria-label="button menu dropdown on mobile">☰</button>
        <nav id="drawer" class="nav">
            <ul class="nav_list">
                <li class="nav_item"><a href="/">Home</a></li>
                <li class="nav_item"><a href="#">Favorite</a></li>
                <li class="nav_item"><a href="https://www.linkedin.com/in/fafr/" target="_blank" rel="noopener">About Us</a></li>
            </ul>
        </nav>
    </header>
    <!-- Hero -->
    <div class="hero">
        <div tabindex="0" class="hero_inner">
            <h1 class="hero_title">Welcome to <span class="hero_bold">HangryBites</span></h1>
            <p class="hero_tagline">Bite into Happiness with HangryBites!</p>
            <a href="#main-content" class="hero_button">Read more...</a>
        </div>
    </div>
    <!-- Main Content -->
    <main id="main-content" class="main-content__container">
        <h2 tabindex="0" class="explore-restaurant__label">Explore Restaurant</h2>
        <section id="explore-restaurant-list"></section>
    </main>
    <!-- Footer Bar -->
    <footer tabindex="0">
        <ul>
            <li><span>&copy; 2023 HangryBites. All rights reserved.</span></li>
            <li><span>with ❤️ by FAFR</span></li>
        </ul>
    </footer>
</body>
</html>