@media (max-width: 600px) {
    nav {
        padding: 0 46px;
    }
    
    .hero-description h2 {
        font-size: 24px;
    }

    .hero-description p {
        font-size: 17px;
    }

    .menu-list {
        background-color: #272e3b;
        fill-opacity: 0.5;
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 80px;
        flex-direction: column;
        align-items: flex-end;
        transform: translateX(100%);
        transition: transform 0.5s;
    }

    .menu-list li {
        width: 200px;
        padding: 20px 10px;
        border-bottom: 1px solid rgb(6, 8, 39);
        text-align: right;
    }
    
    .open .menu-list {
        transform: translateX(0);
    }

    .menu-button {
        min-width: 44px;
        min-height: 44px;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 1.25rem;
        display: block;
        z-index: 2;
        cursor: pointer;
    }
    
    .menu i.fa-times,
    .menu.open i.fa-bars {
        display: none;
        animation: enter 0.8s;
    }

    .menu.open i.fa-times,
    .menu i.fa-bars {
        display: block;
        animation: enter 0.8s;
    }

    .detail, resto-review {
        width: 100%;
    }
     
    .resto {
        grid-template-columns: auto 1fr;
    }
     
    .resto .resto__title {
        grid-column-start: 1;
        grid-column-end: 3;
    }
     
    .resto .resto__overview {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}

@media screen and (min-width: 650px) {
    .resto-list {
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media screen and (min-width: 900px) {
    .resto-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
   
  @media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
    }
  }